/*
Colors adapted from https://vfr.mww-forschung.de/web/goethedigital/
and customized so that text meets at least WCAG AA, checked with https://webaim.org/resources/contrastchecker/

Used Technology         Browser coverage          link
------------------------------------------------------------------------------------------
grid                    95.42%                    https://caniuse.com/css-grid
custom properties       95.94%                    https://caniuse.com/css-variables

*/

/* #goemap__wrapper > * { margin: 0; padding: 0; } */

#goemap__loading {
    background-color: var(--main-accent-1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    color: white;
}

#goemap__loading.goemap__loading--hidden {
    display: none;
}

#goemap__wrapper h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

#goemap__wrapper p {
    margin: 0;
    padding: 0;
}

#goemap__wrapper {

    --link-color: #116BAC;  /* original #65B6F0 did not meet WCAG AA */
    --main-accent: hsl(180, 100%, 16%);
    --main-accent-text-dark: #242424;
    --main-accent-1: #00515166;    
    --main-accent-2: #00515144;
    --main-accent-3: #00515122;
    --main-accent-4: #00515105;


    color: var(--main-accent);    
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
}

/* Button that toggles the person list */
#goemap__show_person_list {
    position: absolute;
    top: 90px;
    left: 11px;
    display: none;
    z-index: 1000;
}

#goemap__wrapper.goemap__wrapper--person_list_shown #goemap__show_person_list {
    display: none;
}

#goemap__wrapper a {
    color: var(--link-color);
    text-decoration: none;
    
}
#goemap__wrapper a:hover {

    text-decoration: underline;
}

/* Default wrapper style with person details hidden */
#goemap__wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 450px 0px auto;
    grid-template-rows: auto 30px;
    grid-template-areas: 
    "persons details map"
    "footer footer footer";
    overflow: hidden;
    /* transition: grid-template-columns 200ms ease-in-out; */
}

/* Displays person details */
#goemap__wrapper.goemap__wrapper--person_details_shown {
    grid-template-columns: 450px 400px auto;
}





/* Person details style --------------------------------------------------- */

/* Person details are hidden by default, hence display: none */
#goemap__person_details {
    grid-area: details;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 400px;
    padding: 16px;
    display: none; 
    box-sizing: border-box;
}

/* Hides either person details for a single person or for multiple persons */
.goemap__person_details--hidden {
    display: none;
}

/* Shows the person details when the parent's class is present */
#goemap__wrapper.goemap__wrapper--person_details_shown #goemap__person_details {
    display: block;
}

#goemap__person_details h2,
#goemap__person_details h3
{
    margin-bottom: 0.5em;
}

#goemap__person_details h2:not(:first-child),
#goemap__person_details h3 
{
    margin-top: 1.2em;
}

.goemap__person_details__photo {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 200px;
    margin: 30px auto;
    background-color: var(--main-accent-3);
}
.goemap__person_details__photo img {
    display: block;
    height: 100%;
    margin: auto
}


/* Person List Style ------------------------------------------------------ */

#goemap__persons { 
    grid-area: persons;
    overflow-y: scroll;
    border-right: 4px solid var(--main-accent);
    padding-top: 16px;
}

#goemap__person_list {
    list-style-type: none;
    padding-left: 8px;
}

#goemap__filters {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: 30px;
    gap: 8px;
    align-items: center;
}

#goemap__filters_details {
    padding-top: 20px;
    padding-bottom: 20px;
}

#goemap__filters_details summary {
    user-select: none;
}

#goemap__persons {
    padding: 16px;
}

#goemap__persons_heading {
    margin-top: 0;
}


/* Custom listbox style --------------------------------------------------- */

.goemap__person_list_item {
    display: block;
    padding: 8px;
    user-select: none;
}

.goemap__person_list_item:focus {
    outline: 2px dotted var(--main-accent);
    background-color: var(--main-accent-4);
}

.goemap__person_list_item--selected,
.goemap__person_list_item--selected:focus
{
    background-color: var(--main-accent-2);
    color: var(--main-accent-text-dark);
}

.goemap__person_list_item:hover {
    background-color: var(--main-accent-3);
}

.goemap__person_list_item--selected:hover {
    background-color: var(--main-accent-1);

}

.goemap__person_list_item:not(:first-child) {
    border-top: 1px solid var(--main-accent);
}

.goemap__person_list_item:not(:last-child) {
    border-bottom: 1px solid var(--main-accent);
}

.goemap__person_details__name, .goemap__person_details__submission_count {
    margin: 0;
}


/* Map Style -------------------------------------------------------------- */

#goemap__map_wrapper {
    grid-area: map;
    min-width: 320px;
    min-height: 320px;
    overflow: hidden;
}

#goemap__map {
    height: 100%;
    width: 100%;
}

goemap-overview-popup,
goemap-submission-popup,
goemap-death-popup,
goemap-birth-popup
{
    display: block;
}

goemap-overview-popup:first-of-type,
goemap-submission-popup:first-of-type,
goemap-death-popup:first-of-type,
goemap-birth-popup:first-of-type
{
    margin-top: 1em;
    border-top: 2px solid var(--main-accent-1);
    padding-top: 1em;
}


goemap-overview-popup:not(:last-child):not(:only-child),
goemap-submission-popup:not(:last-child):not(:only-child)
{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--main-accent-1);
}


.goemap__popup_content_wrapper {
    max-height: 600px;
    overflow-y: auto;
}

.goemap__popup_place_name {
    font-weight: bold;
    font-size: 1.2em;
}

.goemap__popup_button {
    border: none;
    background: none;
    color: var(--link-color);
    font-weight: bold;
    padding: 0px;
}
.goemap__popup_button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.goemap__overview_popup_portrait {
    width: 250px;
    height: 300px;
    background-color: var(--main-accent-3);
    overflow: hidden;
}
.goemap__overview_popup_portrait img {
    object-fit: contain;
    height: 100%;
    display: block;
    margin: auto;
}

.goemap__submission_list_multiple h4 {
    margin-top: 1.5em;
}

.goemap__submission_details {
    padding: 8px;
    background: var(--main-accent-4);
}

.goemap__submission_details p {
    margin-bottom: 4px;
}

goemap-submission-list-item details summary {
    padding: 8px;
    cursor: pointer;
    user-select: none;
}
goemap-submission-list-item details[open] summary {
    background: var(--main-accent-2);
    color: var(--main-accent-text-dark);
}

goemap-submission-list-item details:hover summary {
    background-color: var(--main-accent-3);
}

goemap-submission-list-item details[open]:hover summary {
    background-color: var(--main-accent-1);
}
goemap-submission-list-item details[open] {
    border: 1px solid var(--main-accent-1);
}

goemap-submission-list-item:not(:first-child) details {
    border-top: 1px solid var(--main-accent);
}

goemap-submission-list-item:not(:last-child) details {
    border-bottom: 1px solid var(--main-accent);
}

goemap-submission-list-item p {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.goemap__submission_bold {
    font-weight: bold;
}

/* Button that looks like a link (symantically more correct) */
.goemap__link_button {
    font-family: "Open Sans", "Arial", sans-serif;
    color: var(--link-color);    
    font-size: 14px;
    border: none;
    background: none;
    cursor: pointer;
}

/* Footer Style ----------------------------------------------------------- */

#goemap__footer {
    grid-area: footer;
    background-color: var(--main-accent);
}

#goemap__footer * {
    color: white;
}


/* Mobile behavior */
@media screen and (max-width: 1200px) {

    /* Only shows the map by default */
    #goemap__wrapper {
        grid-template-columns: 0% 0% 100%;
    }
    #goemap__show_person_list {
        display: block;
    }

    #goemap__persons,
    #goemap__person_details {
        display: none;
    }

    /* Shows the person details and the map */
    #goemap__wrapper.goemap__wrapper--person_details_shown {
        grid-template-columns: 0px 400px auto;   
    }


    /* Displays person list */
    #goemap__wrapper.goemap__wrapper--person_list_shown {
        grid-template-columns: 450px 0px auto;
    }

    /* Shows the person list */
    #goemap__wrapper.goemap__wrapper--person_list_shown #goemap__persons {
        display: block;
    }

    /* Hides the person list when the details pane is shown */
    #goemap__wrapper.goemap__wrapper--person_details_shown #goemap__show_person_list {
        display: none;
    }


}

/* Minimum usable screen size for person details and map at the same time */
@media screen and (max-width: 800px) {

    /* #goemap__wrapper {
        grid-template-columns: 100%;
        grid-template-rows: 60vh 38vh 2cv;
        grid-template-areas: 
        "persons details"
        "map map"
        "footer";
    } */

    /* Hides the map when it's actually too small to use */
    #goemap__wrapper.goemap__wrapper--person_details_shown,
    #goemap__wrapper.goemap__wrapper--person_list_shown  
    {
        grid-template-columns: 50% 50%;
        grid-template-rows: 55vh 45vh;
        grid-template-areas: 
        "persons details"
        "map map"
    }

    /* Expands person details horizontally */
    #goemap__wrapper.goemap__wrapper--person_details_shown {
        grid-template-columns: 0% 100%;
    }

    /* Allows person details to expand horizontally */
    #goemap__person_details {
        width: 100%;
    }
    
    /* Expands person list horizontally */
    #goemap__wrapper.goemap__wrapper--person_list_shown {
        grid-template-columns: 100% 0%;
    }
}


/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd */
kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }
