<!--
    Popup content for markers containing a place of birth
-->

<template id="goemap_tmp__birth_popup">
    <!-- <strong><fill-me name="place_name"></fill-me></strong> -->
    <p>Geburtsort von <fill-me name="person_name"></fill-me></p>
</template>