<!--
    Popup content for markers containing a place of death
-->

<template id="goemap_tmp__death_popup">
    <!-- <strong><fill-me name="place_name"></fill-me></strong> -->
    <p>Sterbeort von <fill-me name="person_name"></fill-me></p>
</template>