<div id="goemap__wrapper">

    <div id="goemap__loading">
        <p>Lade Visualisierung…</p>
    </div>
    <button id="goemap__show_person_list">Personenliste</button>

    <div id="goemap__persons">
        <h2 id="goemap__persons_heading">Personen</h2>

        <details id="goemap__filters_details">
            <summary>Filter</summary>
            <div id="goemap__filters">
                    <label for="goemap__filters_sort">Sortieren nach…</label>
                    <select name="goemap__filters_sort" id="goemap__filters_sort">
                        <option value="submissions_desc">Anzahl Einsendungen (absteigend)</option>
                        <option value="submissions_asc">Anzahl Einsendungen (aufsteigend)</option>
                        <option value="distance_weimar_desc">Entfernung Geburtsort zu Weimar (absteigend)</option>
                        <option value="distance_weimar_asc">Entfernung Geburtsort zu Weimar (aufsteigend)</option>
                    </select>
                
                    <label for="goemap__filters_person_functions">Funktion</label>
                    <select name=goemap__filters_person_functions id="goemap__filters_person_functions">
                        <option value="all">Alle anzeigen</option>
                    </select>
                    <label for="goemap__filters_classifications">Klassifikation</label>
                    <select name=goemap__filters_classifications id="goemap__filters_classifications">
                        <option value="all">Alle anzeigen</option>
                    </select>
            </div>
            <p>Durchsuchen der Personen mit <kbd>Strg</kbd>+<kbd>F</kbd></p>
        </details>
        
        <div id="goemap__person_list" 
        role="listbox" 
        aria-multiselectable="true" 
        aria-labelledby="goemap__persons_heading"
            aria-roledescription="Liste von Personen, die an den Einsendungen von Goethes Privatbibliothek beteiligt waren. Einer oder mehrere Einträge können ausgewählt werden."
        >

        </div>
    </div>
    <div id="goemap__person_details"></div>
    <div id="goemap__map_wrapper">
        <div id="goemap__map"></div>
    </div>
    <div id="goemap__footer"></div>
</div>
<script src="GoetheMapApp.js"></script>
