<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einsender Goethes Bibliothek</title>
    <link rel="stylesheet" href="goemap_style.css">
    <link rel="stylesheet" href="leaflet.css">
    <!-- <script src="leaflet.js"></script>  -->
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    
    <!-- The build script will place HTML templates here -->    
    <!--{{ goe_map_code }}-->
</body>
</html>