<!--
    Popup content for overview markers
    They contain an abriged version of the person details

    Slots:
        person_name: span / button    Span or button that opens the person's details
        person_portrait: img          Image element with portrait
        person_summary: p             Abridged biography of that person
        person_open: button           A button that opens the person's details
-->

<template id="goemap_tmp__overview_popup">

    <h2><fill-me name="person_name"></fill-me></h2>

    <div class="goemap__overview_popup_portrait">
        <fill-me name="person_portrait"></fill-me>
    </div>

    <fill-me name="person_summary"></fill-me>

    <fill-me name="person_open"></fill-me>

</template>