<!-- Person Details

    goemap_tmp__person_details_multiple
    <goemap-person-details-multiple>

    fill-mes:
        num_selected: Number of selected entries
        submission_list: HTML element containing list of submissions

-->
<template id="goemap_tmp__person_details_multiple">
    <button class="goemap__back_to_overview">Zurück zur Übersicht</button>

    <h2 class="goemap__person_details__name">Auswahl von <fill-me name="num_selected"></fill-me> Personen</h2>

    <h3>Einsendungen</h3>

    <fill-me name="submission_list"></fill-me>
</template>