<!-- Person List Item

    goemap_tmp__person_list_item

    fill-mes:
        person_name: Name of the person
        submission_count: Number of submissions of the person
        string_submission_count: Localization of "Submissions" (submission count)

-->
<template id="goemap_tmp__person_list_item">
    <p class="goemap__person_details__name"><fill-me name="person_name"></fill-me></p>
    <p class="goemap__person_details__submission_count"><fill-me name="string_submission_count"></fill-me>: <fill-me name="submission_count"></fill-me></p>
</template>