<!-- Person Details

    goemap_tmp__person_details

    fill-mes:
        person_name: Name of the person
        person_img: Photo of the person
        
        person_functions: Functions that the person has regarding the submission (author of the submitted book, printer, etc.)
        string_person_functions: Functions that the person has regarding the submission (author of the submitted book, printer, etc.)
        
        submission_count: Number of submissions of the person
        string_submission_count: Localization of "Submissions" (submission count)

        date_born
        date_deceased

        place_birth
        place_death

        biography

        link_deutsche_biographien: Link to person on Deutsche Biographien

        submission_list: HTML element containing list of submissions

-->
<template id="goemap_tmp__person_details">
    <button class="goemap__back_to_overview">Zurück zur Übersicht</button>

    <h2 class="goemap__person_details__name"><fill-me name="person_name"></fill-me></h2>
        
    <div class="goemap__person_details__photo">
        <fill-me name="person_img">
        </fill-me>
    </div>

    <p class="goemap__person_details__person_functions"><fill-me name="string_person_functions"></fill-me>: <fill-me name="person_functions"></fill-me></p>
    <p class="goemap__person_details__submission_count"><fill-me name="string_submission_count"></fill-me>: <fill-me name="submission_count"></fill-me></p>

    <h3>Lebensdaten</h3>

    <ul>
        <li>* <fill-me name="date_born"></fill-me> in <fill-me name="place_birth"></fill-me></li>
        <li>† <fill-me name="date_deceased"></fill-me> in <fill-me name="place_death"></fill-me></li>
    </ul>

    <h3>Leben</h3>

    <div class="goemap__person_details__biography">
        <p><fill-me name="biography"></fill-me></p>
        <!--fill-me name="biography_short"></fill-me>
        <details>
            <summary>weiterlesen…</summary>
            <fill-me name="biography"></fill-me>
        </details-->
        </div>

    <h3>Weiterführende Links</h3>

    <ul>
        <li><fill-me name="deutsche_biographie_link"></fill-me></li>
        <li><fill-me name="wikidata_link"></fill-me></li>

    </ul>

    <h3>Einsendungen</h3>

    <fill-me name="submission_list"></fill-me>
</template>