<template id="goemap_tmp__submission_popup">
    <strong>Einsendung aus <fill-me name="place_name"></fill-me></strong>
    <p>Titel: <fill-me name="title"></fill-me></p>
    <p>Autor: <fill-me name="author"></fill-me></p>
    <p>Eingesendet von: <fill-me name="person_name"></fill-me></p>
</template>