<!-- Submission List Item

    goemap_tmp__submission_list_item

    fill-mes:
        title
        author
        submission_place
        submission_date

-->
<template id="goemap_tmp__submission_list_item">
    <details>
        <summary>
            <span class="goemap__submission_bold"><fill-me name="author"></span></fill-me>: <fill-me name="title"></fill-me>
        </summary>
        <div class="goemap__submission_details">
            <p class="goemap__submission_title"><span class="goemap__submission_bold">Titel</span>: <fill-me name="title"></fill-me></p>
            <p class="goemap__submission_author"><span class="goemap__submission_bold">Autor</span>: <fill-me name="author"></fill-me></p>
            <p class="goemap__submission_submission_place"><span class="goemap__submission_bold">Einsendungsort</span>: <fill-me name="submission_place"></fill-me></p>
            <p class="goemap__submission_submission_date"><span class="goemap__submission_bold">Einsendungsdatum</span>: <fill-me name="submission_date"></fill-me></p>
        </div>
    </details>
</template>